# Telegram Bot Tokens
BOT_TOKEN=your_main_bot_token_here
INFO_BOT_TOKEN=your_info_bot_token_here

# Admin IDs (Comma separated)
ADMIN_IDS=123456789,987654321

# Security Passwords
ADMIN_PASSWORD=your_secure_admin_password
MAINT_PASSWORD=your_secure_maint_password

# API Keys
TGOSINT_KEY=your_api_key_here
TGOSINT_URL=https://tgosint.vercel.app/

# MongoDB Connection
MONGO_URI=your_mongodb_connection_string

# Channels for Force Sub (Comma separated)
CHANNELS=@flinsbots,@devg4urav