# Telegram Bot Tokens
BOT_TOKEN=8441499258:AAHO8lGwtXydK01s6n1_ZDnReFDn2CkutSU
INFO_BOT_TOKEN=8787066596:AAGqScGSI2Oeanr47jVReU3rJeYIABlyXw8

# Admin IDs (Comma separated)
ADMIN_IDS=123456789,987654321

# Security Passwords
ADMIN_PASSWORD=sujoy
MAINT_PASSWORD=Sujoy

# API Keys
TGOSINT_KEY=your_api_key_here
TGOSINT_URL=https://tgosint.vercel.app/

# MongoDB Connection
MONGO_URI=your_mongodb_connection_string

# Channels for Force Sub (Comma separated)
CHANNELS=@flinsbots,@devg4urav