# Telegram Bot Tokens
BOT_TOKEN=
INFO_BOT_TOKEN

# Admin IDs (Comma separated)
ADMIN_IDS=123456789,987654321

# Security Passwords
ADMIN_PASSWORD=
MAINT_PASSWORD=

# API Keys
TGOSINT_KEY=your_api_key_here
TGOSINT_URL=

# MongoDB Connection
MONGO_URI=your_mongodb_connection_string

# Channels for Force Sub (Comma separated)
CHANNELS
